<nav class="navbar navbar-inverse navbar-fixed-top navbar-embossed" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Notebook</a>
  </div>
  <span class="navbar-text navbar-right mrl mll">Signed in as <%= @user.name %></span>
</nav>

<div class="top-push">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3><%= @lesson.name %></h3>
      <hr>
      <p><%= @lesson.date %></p>
      <span>Status: </span>
      <span class="label label-default"><%= @lesson.status %></span>
      <h5>Notes:</h5>
      <div>
        <p><%= @lesson_notes_html %></p>
      </div>
      <h5>Goal:</h5>
      <div>
        <p><%= @lesson_goal_html %></p>
      </div>
      <hr>

    </div>  
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-embossed" role="navigation">
  <a href="/logout" class="btn btn-primary navbar-btn btn-xs mll" type="button">Logout</a>
  <a href="/student/edit" class="btn btn-inverse navbar-btn btn-xs mll" type="button">Edit User</a>
  <a href="/student/lessons" class="btn btn-inverse navbar-btn btn-xs mll" type="button">All Lessons</a>
</nav>