<h2>Edit Lesson</h2>
<form method="post" action="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/<%= @lesson.id %>/edit" id="edit-lesson">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @lesson.name %>">
  <textarea name="notes" rows="10" cols="50" form="edit-lesson"><%= @lesson.notes %></textarea> 
  <textarea name="goal" rows="5" cols="50" form="edit-lesson"><%= @lesson.goal %></textarea>
  <br>
  <input type="submit" name="update" value="Save">
</form>
<br>
<a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lessons">Cancel</a><br>
<a href="/logout">Log Out</a>