<h1><%= @student.name%>'s Lessons</h1>
<a href="/teacher/<%= @user.id %>/home">Home</a>
<%= flash[:deleted] %>
<br>
<a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/new">New Lesson</a>
<hr>
<% if @student.lessons.empty? %>
  <h3>No Lessons</h3>
  <hr>
<% else %> 
  <% @student.lessons.reverse.each do |lesson| %>
    <a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/<%= lesson.id %>">
      <div>
        <h4><%= lesson.date %></h4>
        <h3><%= lesson.name %></h3>
        <h5>Status: <%= lesson.status %></h5>
      </div>
    </a>
    <hr>
  <% end %>
<% end %>






<br>
<a href="/logout">Log Out</a>