<a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lessons">All Lessons</a>
<br>
<h3><%= @lesson.name %></h3>
<p><%= @lesson.date %></p>
<h4>Notes</h4>
<div>
  <p><%= @lesson_notes_html %></p>
</div>
<h4>Goal</h4>
<div>
  <p><%= @lesson_goal_html %></p>
</div>
<h4>Status:</h4>
<div>
  <h4><%= @lesson.status %></h4>
</div>
<form method="post" action="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/<%= @lesson.id %>/status">
  <input type="hidden" name="_method" value="patch">
  Complete? <input type="checkbox" name="complete" value="true" <%= "checked" if @lesson.complete == true %>>
  <input type="submit" name="save_status" value="Save Status">
</form>  
<a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/<%= @lesson.id %>/edit">Edit</a>
<form method="post" action="/teacher/<%= @user.id %>/student/<%= @student.id %>/lesson/<%= @lesson.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete">
</form>
<br>
<a href="/logout">Log Out</a>