<h3>Sign up as:</h3>
<h3><%= flash[:name] %></h3>
<h3><%= flash[:user] %></h3>
<h3><%= flash[:email] %></h3>
<h3><%= flash[:pw_mismatch] %></h3>
<h3><%= flash[:password] %></h3>

<form method="post" action="/signup">
  <input type="radio" name="user_type" value="teacher" />Teacher
  <input type="radio" name="user_type" value="student" checked/>Student
  <br>
  <input type="text" name="name" placeholder="Name">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="password" name="conf_password" placeholder="Confirm Password">
  <br>
  <input type="submit" name="signup" value="Sign Up">
</form>
<br>
<a href="/login">Login Instead</a>