<h3>Edit Account<h3>
<h3><%= flash[:name] %></h3>
<h3><%= flash[:email] %></h3>

<form method="post" action="/student/<%= @user.id %>/edit">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @user.name %>">
  <br>
  <input type="email" name="email" value="<%= @user.email %>">
  <br>
  <input type="submit" name="edit" value="Save">
</form>

<a href="/student/<%= @user.id %>/lessons">Cancel</a>